:target {
    padding-top: 60px;
}

.nav-bar {
    height: 80px;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-items {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.nav-items a {
    padding: 25px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-items a:hover {
    border-bottom: 4px solid white;
    font-weight: bold;
}

.nav-items .active {
    background-color: white;
}